/* || Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/* || CSS Variables */
:root {
    --text-primary-clr: #232532;
    --clr-white: #f6f6f6;
    --clr-black: #181520;
    --clr-blue-light: #cfe7da;
    --clr-salmon-light: #e4d5c2;

    --font-fam-lora: 'Lora', serif;
    --font-fam-open-sans: 'Open Sans', sans-serif;
}

/* || General Styles */
body {
    color: var(--text-primary-clr);
    background: var(--clr-blue-light);
    font-size: 16px;
    font-family: var(--font-fam-open-sans);
    overflow-x: hidden;
}

/* To not be able to scroll when displaying the form */
.body-fixed {
    height: 100vh;
    overflow-y: hidden;
}

.background-salmon-theme {
    background: var(--clr-salmon-light);
}

/* Apply to icons from Boxicons */
.btn-icon {
    font-size: 2rem;
    line-height: 0;
}