/* || Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


/* || CSS Variables */
:root {
    --text-primary: #232532;

    --bg-blue-light: #cfe7da;
    --bg-salmon-light: #e4d5c2;

    --clr-white-off: #f6f6f6;
    --clr-blue-dark: #181520;
    --clr-gray-dark: #565656;

    --font-fam-lora: 'Lora', serif;
    --font-fam-open-sans: 'Open Sans', sans-serif;

    scroll-behavior: smooth;
}


/* || Basic rules */
body {
    color: var(--text-primary);
    --bg-chosen-theme: var(--bg-blue-light);
    background: var(--bg-chosen-theme);
    background-image: url("../../assets/img/noise.svg");
    background-attachment: fixed;

    --clr-site-logo-star: #ff773d;

    font-size: 16px;
    font-family: var(--font-fam-open-sans);
}

/* to apply salmon-theme */
body.background-salmon-theme {
    --bg-chosen-theme: var(--bg-salmon-light);
    --clr-site-logo-star: #3d9dff;
}


/* Customize scrollbar */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-white-off);
    box-shadow: inset 0 0 6px var(--clr-gray-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border: 0px solid transparent;
    box-shadow: inset 0 0 10px var(--clr-blue-dark);
    background-color: var(--bg-chosen-theme);
    border-radius: 18px/28px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 12px var(--clr-blue-dark)
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 15px var(--clr-blue-dark)
}

/* Customize text selection color */
::-moz-selection {
    color: var(--clr-white-off);
    background: var(--clr-blue-dark);
}

::selection {
    color: var(--clr-white-off);
    background: var(--clr-blue-dark);
}