/* Image at bottom of page */
body {
    --bg-img-url: url("../../assets/img/young-mens.png");
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    background-image: var(--bg-img-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px 0;

    height: clamp(12.5rem, 35.714vw + 5.357rem + 5vh, 22.5rem);
    width: clamp(12.5rem, 35.714vw + 5.357rem + 5vh, 22.5rem);

    z-index: -1;
}


/* || Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px clamp(1rem, 1.336vw + 0.645rem, 1.5rem);
}

/* site logo */
#site-logo {
    display: flex;
    font-family: var(--font-fam-lora);
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: .3s cubic-bezier(0, 2.65, 0.96, 0.1);
}

#site-logo::after {
    content: "*";
    color: var(--clr-site-logo-star);
}

#site-logo:hover {
    letter-spacing: 2px;
}

/* menu btn */
.menu-btn .bx {
    font-size: 1.55rem;
    color: var(--clr-blue-dark);
    transition: .2s;
}

.menu-btn .bx:hover,
.menu-btn:focus .bx {
    color: #8172a9;
    opacity: .8;
    transform: skewX(-10deg);
}

/* theme switcher */
.theme-switcher {
    position: absolute;
    right: 4px;
    top: 58px;
    padding: 4px;
    background-color: #fff;
    --theme-switcher-border-radius: 10px;
    border-radius: var(--theme-switcher-border-radius);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    /* To animate the display of theme-switcher */
    display: block;
    transform-origin: top right;
    transform: scaleY(0);
    opacity: 0;
    transition: transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        opacity .1s;
    z-index: 2;
}

.theme-switcher.active {
    display: block;
    transform: scaleY(1);
    opacity: 1;
}

.theme-switcher::after {
    content: "";
    position: absolute;
    top: -12px;
    right: 16px;
    transform: skew(8deg);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 12px 8px;
    border-color: transparent transparent var(--clr-gray-dark) transparent;
    border-radius: 20px;
}

.theme-switcher button {
    display: block;
    font-size: .9rem;
    font-weight: 500;
    padding: 12px 14px;
    width: 100%;
    text-align: left;
    transition: .3s;
}

.theme-switcher button:hover {
    color: var(--clr-gray-dark);
}

.theme-blue-light.active {
    background-color: var(--bg-blue-light);
    border-top-left-radius: var(--theme-switcher-border-radius);
    border-top-right-radius: var(--theme-switcher-border-radius);
}

.theme-salmon-light.active {
    background-color: var(--bg-salmon-light);
    border-bottom-left-radius: var(--theme-switcher-border-radius);
    border-bottom-right-radius: var(--theme-switcher-border-radius);
}

.theme-switcher button.active {
    font-weight: 600;
    color: var(--clr-gray-dark);
}

.theme-switcher button i {
    margin-right: 8px;
    transition: .3s;
}

.theme-switcher button:hover i {
    transform: rotate(180deg);
}

.theme-switcher button.active i {
    transform: rotate(180deg);
}


/* || Main */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 48px clamp(1rem, 1.336vw + 0.645rem, 1.5rem) 16px;

    /* font-size 16-18px */
    --form-field-font-size: 1rem;
}

.hero-title {
    font-size: clamp(1.625rem, 5.342vw + 0.206rem, 3.625rem);
    line-height: 1.4;
    letter-spacing: -2px;
    word-spacing: 2px;
}

.overview {
    font-size: clamp(1rem, 2.003vw + 0.468rem, 1.75rem);
    line-height: 1.4;
    margin-top: 20px;
    max-width: 500px;
}

/* btn black */
.btn-black {
    color: var(--clr-white-off);
    background-color: var(--clr-blue-dark);
    border: 2px solid transparent;
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: var(--form-field-font-size);
    font-weight: 500;
    text-align: center;
    user-select: none;
}

.apply-now {
    margin-top: 36px;
    padding: 12px 24px;
    display: inline-block;
}

.btn-black:is(:active, :hover) {
    color: var(--clr-blue-dark);
    background-color: var(--clr-white-off);
    border: 2px solid var(--clr-blue-dark);
}

/* forms - will be hidden by default on small screens 
(mobile), and displayed when "apply-now" btn is clicked */
.close-form-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-form-btn .bx {
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-img {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    min-height: 100vh;
    overflow-y: auto;

    margin: 0 auto;
    padding: 24px clamp(1.125rem, 51.339vw - 9.143rem, 15.5rem);

    background-color: #fff;

    /* to hide the default form on small screens */
    transform: scale(0);
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    z-index: 4;
}

/* to show active form */
form.active {
    transform: scale(1);
}

.title-form {
    font-size: clamp(1.375rem, 2.337vw + 0.754rem, 2.25rem);
    line-height: clamp(2.063rem, 2.304vw + 1.451rem, 2.925rem);
    font-weight: 600;
    margin-bottom: 32px;
    white-space: nowrap;
}

form label[for] {
    font-size: var(--form-field-font-size);
    font-weight: 500;
    margin-bottom: 6px;
}

form input {
    background-color: var(--clr-white-off);
    padding: 14px 20px;
    align-self: stretch;
    font-size: var(--form-field-font-size);
    font-weight: 400;
    line-height: 1;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid transparent;
    transition: .3s;
}

form input:focus {
    border-color: var(--clr-blue-dark);
}

form input.invalid-value {
    border-color: #f77373;
}

.btn-submit {
    background-color: var(--clr-blue-dark);
}

.question-to-switch {
    align-self: stretch;
    text-align: center;
    font-size: var(--form-field-font-size);
    font-weight: 500;
    line-height: 1.6;
    margin-top: 12px;
}

.btn-to-switch {
    margin-left: 10px;
    font-weight: 600;
    border-bottom: 2px solid var(--clr-blue-dark);
    padding-bottom: 3px;
    transition: .3s;
}

.btn-to-switch:hover {
    border-bottom-color: transparent;
}


/* || Responsive - Mobile First */
@media screen and (min-width: 768px) {
    #site-logo {
        font-size: 1.4rem;
    }

    .menu-btn .bx {
        display: none;
    }

    .theme-switcher {
        display: flex;
        position: static;
        opacity: 1;
        transform: none;
    }

    .theme-switcher::after {
        content: none;
    }

    .theme-switcher button {
        font-size: .96rem;
        white-space: nowrap;
        border-radius: var(--theme-switcher-border-radius);
    }

    main {
        --form-field-font-size: 1.125rem;
        padding-top: clamp(1rem, 5.342vw + -0.419rem, 3rem);
    }

    /* redefine a different display for 
    the forms on tablet and PC screens */
    .close-form-btn {
        display: none;
    }

    body {
        --max-width: 860px;
    }

    body::after {
        content: none;
    }

    header {
        margin: 0 auto;
        width: 100%;
        max-width: var(--max-width);
        padding: 16px clamp(0rem, -7.812vw + 5rem, 1.25rem);
    }

    .overviews-wrapper {
        margin: 0 auto 1.4rem;
        width: 100%;
        max-width: var(--max-width);
    }

    .overview {
        max-width: none;
    }

    .forms-wrapper {
        display: flex;
        margin: 0 auto;
        width: 100%;
        max-width: var(--max-width);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .hero-img {
        display: block;
        width: 50%;
        max-height: 500px;
        object-fit: contain;
        align-self: flex-end;
    }

    .title-form {
        font-weight: 400;
    }

    form {
        display: none;
        transform: none;
        position: static;

        margin: 0;
        padding: 16px 8%;
        min-height: auto;
        width: 50%;
    }

    form.last-displayed-form {
        display: flex;
        justify-content: center;
    }
}