/* || Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px 0 24px;
}

#site-logo {
    font-family: var(--font-fam-lora);
    font-weight: 500;
    font-size: 1.6rem;
    white-space: nowrap;
}

#site-logo span {
    color: #ff773d;
}

/* theme switcher */
.theme-switcher {
    position: absolute;
    right: 4px;
    top: 68px;
    background-color: var(--clr-white);
    border-radius: 10px;
    border: 1px solid var(--clr-black);

    /* To animate the display of div */
    display: block;
    transform-origin: top right;
    transform: scale(0);
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.theme-switcher.active {
    transform: scale(1);
}

.theme-switcher::after {
    content: "";
    position: absolute;
    top: -12px;
    right: 13px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 12px 8px;
    border-color: transparent transparent var(--clr-black) transparent;
    border-radius: 20px;
}

.theme-switcher button {
    display: block;
    font-size: 16px;
    padding: 12px 16px;
}

.theme-switcher button.active {
    font-weight: 600;
}

.theme-switcher button i {
    margin-right: 8px;
}


/* || Main */
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 72px 24px 16px;
}

/* btn to close form */
.close-form-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.hero-title {
    font-size: 2.2rem;
    letter-spacing: -2px;
    line-height: 1.6;
}

.overview {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 22px;
    max-width: 500px;
}

/* btn black */
.btn-black {
    color: var(--clr-white);
    background-color: var(--clr-black);
    border: 2px solid transparent;
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.apply-now {
    margin-top: 40px;
    width: 172px;
    padding: 18px 24px;
}

.btn-black:is(:active, :hover) {
    color: var(--clr-black);
    background-color: var(--clr-white);
    border: 2px solid var(--clr-black);
}

/* || Forms styles */
/* The mobile version displays the formulas only 
when clicking on the "apply-now" button */
form {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    margin: 0 auto;
    padding: 24px 18px;

    background-color: #fff;

    /* To animate the display of form */
    transform: scale(0);
    display: flex;
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* To show form */
form.active {
    transform: scale(1);
}

.title-form {
    font-size: 2.4rem;
    margin-bottom: 32px;
    white-space: nowrap;
}

form label[for] {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

form input {
    background-color: var(--clr-white);
    padding: 18px 20px;
    align-self: stretch;
    font-weight: 500;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid transparent;
    transition: .3s;
}

form input:focus {
    border-color: var(--clr-black);
}

.btn-submit {
    text-align: center;
    background-color: var(--clr-black);
}

.question-to-switch {
    align-self: stretch;
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
    font-weight: 500;
}

.btn-to-switch {
    border-bottom: 1px solid var(--clr-black);
    padding-bottom: 3px;
    transition: .3s;
}

.btn-to-switch:hover {
    border-bottom-color: transparent;
}


/* Outline image */
.outline-img {
    position: absolute;
    right: 0;
    bottom: -105px;
    width: calc(20px + 20vw + 20vh);
    min-width: 230px;
    max-width: 470px;
    height: auto;
    align-self: flex-end;
    z-index: -1;
}


/* || Responsive - Mobile First */
@media screen and (min-width: 680px) {

    /* Hide apply-now btn */
    .apply-now {
        display: none;
    }

    /* Displays the form directly */
    form.last-displayed-form {
        transform: scale(1);

        position: relative;
        width: 50%;
        height: auto;
        margin: 20px 0 0;
    }

    /* Hide close-form-btn */
    .close-form-btn {
        display: none;
    }

    /* To restore the scroll bars when displaying 
    the form directly on a larger screen */
    .body-fixed {
        height: auto;
        overflow-y: scroll;
    }

    .outline-img {
        width: 50%;
        transform: translateY(48%);
    }
}


@media screen and (min-width: 1024px) {

    .outline-img {
        width: 46%;
    }
}